/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/*##################################### Filtres#########################*/

button{
	color: #1D6154;
	background:transparent;
	width: 15%;
	height: 37px;
	border-radius: 20px;
	border: 2px solid #1D6154;
	margin-left: 2%;

}
#her:hover{
	background-color: #1D6154;
	color: white;
}
#objet:hover{
	background-color: #1D6154;
	color: white;
}
#appartements:hover{
	background-color: #1D6154;
	color: white;
}
#tous:hover{
	background-color: #1D6154;
	color: white;
}
#filtres{
	display: flex;
	justify-content: center;
	padding: 3%;	
}
/*####################################login page########################*/
#log{
	display: flex;
	justify-content: center;
}

#login_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
#login_text label {
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px; 
	margin-top: 30px;
}

#login_text input {
    width: 379px;
	height: 51px;
    border: none;
	box-shadow: 5px 5px 5px 5px #00000017;
	
}
#buttonl{
	margin-top: 30px;
}

#blog{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
 /*###################################################  Modal photo2   ##################################*/	
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 	
	overflow-y: auto;
  }
  
  .modal-content {
	display: flex;
    flex-direction: column;
    align-items: center;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 60%;
	height: 670px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	
  }
  #adimg i {
	width: 76px;
	height: 76px;
	color: #CBD6DC;
	margin-bottom: 20px;
	font-size: 76px;
	z-index: 0;
  }
  #adimg p {
	margin-top: 10px;
	z-index: 0;
  }
  #adimg{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 75%;
	height: 175px;
	background-color: #E8F1F6;
	border-radius: 3px;
	position: relative;
  } 
  #uploadBtn{
	color: #1D6154;
	background:transparent;
	width: 45%;
	height: 37px;
	border-radius: 20px;
	border: 2px solid #CBD6DC;
	margin-left: 2%;
	background-color: #CBD6DC;
	display: block;
	text-align: center;
	padding: auto;
  }
  #adimg img {
	position: absolute; 
    top: 0;
    left: 28%; 
	width: 47%;
    height: 175px;
    z-index: 1;
}
  .modal-body{
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
	width: 100%;
	margin-top: 30px;
  }
  .modal-body label{
	width:75%;
	margin-bottom: 10px;
  }

  .modal-body input{
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 75%;
	height: 51px;
  }
  .modal-header {
	width: 100%;
	padding: 2px 16px;
	color: white;
  } 
  .close {
	display: flex;
	justify-content: flex-end;
	margin-right: 5%;
	margin-top: 3%;
	color: black;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  
	.modal-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 30px;
	background-color: white;
	color: white;
  }
  .modal-footer select{
	width: 75%;
	height: 51px;
  }
 

 
  #submitadd{
	background-color: grey;
	color: white;
	margin-top: 20px;
	height: 36px;
	width: 237px;
	border-radius: 60px;
  }
  /*###################################################  Modal photo1  ##################################*/
  .header-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px; 
}

   

  .modal1 {
    display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 	
	
   
  }


  .modal-center {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px;
    margin-right: 10%;
    margin-left: 10%;
}

.modal-center figure {
    position: relative;
}

.modal-center img {
    width: 78px;
    height: 103px;
    margin: 0; 
	padding-left: 25px;
}

.modal-center i {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    color: white;
	background-color: #000;
	width: 20px; 
    height: 20px;
	border-radius: 15%;
	align-items: center;
	display: flex;
	justify-content: center;
}

  /* Modal Content */
  .modal-c {
  	display: flex;
  	flex-direction: column;
 	align-items: center;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 60%;
	height: 670px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
  }
  
  /* The Close Button */
  .close2 {
    display: flex;
	justify-content: flex-end;
	margin-right: 5%;
	margin-top: 3%;
	color: black;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-h {
    width: 100%;
	padding: 2px 16px;
	
  }
  #modalb{
	border: none;
	color: black;
  }
  
  .modal-f {
    width: 100%;
   color: white;
  }
  
#submitdel{
        background-color: #1D6154;
        color: white;
        margin-top: 20px;
        height: 36px;
        width: 237px;
        border-radius: 60px;    
}
a{
	text-decoration: none;
}
#logout {
	color: #000;
}
